{% set pageTitle = 'DJs | Convergence 26 - Louisville, KY' %}

{% import '_macros/image.njk' as img %}

{% extends '_layouts/default.njk' %}

{% block main %}
   <div class="container">
      <div class="block">
         <h1 class="title">DJs</h1>

         <p>We’re pleased to announce the DJ lineup for Convergence 26…</p>

         <p>
            The Pirate Twins (Scary Lady Sarah & William Faith), DJ Azy & DJ MAUS (Obscura Undead), DJ Ichabod, DJ Mistress McCutchan, Philly Peroxide, DJ Skeletal, and Radio Arcane’s AndrOspore, Brian Drabant, DJ Kaleidoscope, Osiris Ani, & Sorrow-Vomit.
         </p>

         <p><em>Additional info coming soon...</em></p>

         <a class="btn" href="{{ tickets.eventbrite }}" target="_blank">Tickets Now Available</a>

         <br>

         <article id="pirate-twins" class="band">
            <h2 class="band__title">The Pirate Twins</h2>

            <figure class="band__figure">
               {{ img.picture(
                  jpg="/images/djs/pirate-twins.jpg",
                  webp="/images/djs/pirate-twins.webp",
                  alt="The Pirate Twins",
                  className="band__img"
               ) }}
            </figure>

            <div class="band__bio">
               <p>The Pirate Twins are the DJ team of Scary Lady Sarah and William Faith.</p>

               <p>The duo have spun at events all over North America and Europe, with annual appearances at Wave-Gotik-Treffen in Leipzig, Germany. Sarah—who also spun at C1, C5, C6, the “C7 Rescue,” C8, C9, C10, C12, C19, C20, C21, and C23—has been a professional working club DJ since 1988, and her bi-monthly club night, Nocturna, is now in its 32nd year.</p>

               <p>The Pirate Twins spin a wide variety of music, including, but not limited to—current and classic post-punk, Goth, industrial, punk, glam, deathrock, ethereal, ambient, shoegaze, new wave, EBM, darkwave, dark indie, and more.</p>
            </div>

            <footer class="band__links">
               <a href="https://www.facebook.com/thepiratetwins" target="_blank" title="The Pirate Twins @ Facebook">
                  <img src="/images/icons/facebook-square.svg" inline class="icon" />
               </a>
            </footer>
         </article>

			<article id="obscura-undead" class="band">
            <h2 class="band__title">DJ Azy and DJ Maus (Obscura Undead)</h2>

            <figure class="band__figure">
               {{ img.lazyPic(
                  jpg="/images/djs/obscura-undead.jpg",
                  webp="/images/djs/obscura-undead.webp",
                  alt="DJ Azy and DJ Maus (Obscura Undead)",
                  className="band__img"
               ) }}

               <figcaption class="band__caption">
                  Photo by <a href="https://www.facebook.com/6bellschime" target="_blank">Six Bells Chime Art and Photography</a>
               </figcaption>
            </figure>

            <div class="band__bio">
               <p>Azy and Maus run Obscura Undead, a Florida-based collective of DJs and creators devoted to spreading new Goth, post-punk, darkwave, minimal wave, and deathrock. Maus specializes in synth driven post-punk and wave, while Azy’s focus is guitar-driven Goth and deathrock.</p>
            </div>

            <footer class="band__links">
               <a href="https://www.facebook.com/obscuraundead" target="_blank" title="Obscura Undead @ Facebook">
                  <img src="/images/icons/facebook-square.svg" inline class="icon" />
               </a>

					<a href="https://www.instagram.com/obscuraundead" target="_blank" title="Obscura Undead @ Instagram">
                  <img src="/images/icons/instagram.svg" inline class="icon" />
               </a>

					<a href="https://www.youtube.com/channel/UCYpDKDYdNkpAPtzkjW1_6Ew" target="_blank" title="Obscura Undead @ YouTube">
                  <img src="/images/icons/youtube.svg" inline class="icon" />
               </a>

					<a href="https://www.mixcloud.com/obscuraundead" target="_blank" title="Obscura Undead @ Mixcloud">
                  <img src="/images/icons/mixcloud.svg" inline class="icon" />
               </a>
            </footer>
         </article>

			<article id="dj-ichabod" class="band">
            <h2 class="band__title">DJ Ichabod</h2>

            <figure class="band__figure">
               {{ img.lazyPic(
                  jpg="/images/djs/dj-ichabod.jpg",
                  webp="/images/djs/dj-ichabod.webp",
                  alt="DJ Ichabod",
                  className="band__img"
               ) }}
            </figure>

            <div class="band__bio">
               <p>DJ Ichabod has been an active DJ in the Goth/Industrial scene in Nashville for over twenty years now, starting out as a radio DJ on WRVU in the mid-’90s. During his years there, he created the show, Out ov the Coffin, which ran until the station folded in 2011, at which point it became a monthly podcast that continues to this day. In the late '90s, his radio work led to his first club DJ gig at the Underground in Nashville, and from there, he went on to co-run the events, Communion at the Asylum (Nashville's first-ever Saturday night Goth club) and then +SALVATION+, which ran as Nashville's primary Goth event for over ten years, across multiple venues, branching into concert promotion as well.</p>

					<p>In 2013, he started his own night, Fascination Street at The East Room, a post-punk, deathrock, darkwave, and trad-Goth specialty dance event, which just marked its sixth anniversary. He also serves as assistant director of Dragon Con's Horror Track, where he creates Goth-related programming.</p>
            </div>

            <footer class="band__links">
               <a href="http://outovthecoffin.blogspot.com" target="_blank" title="Out ov the Coffin Website">
                  <img src="/images/icons/home.svg" inline class="icon" />
               </a>

					<a href="https://www.mixcloud.com/outovthecoffin" target="_blank" title="Out ov the Coffin @ Mixcloud">
                  <img src="/images/icons/mixcloud.svg" inline class="icon" />
               </a>

					<a href="https://www.instagram.com/fascination_street_nashville" target="_blank" title="Fascination Street @ Instagram">
                  <img src="/images/icons/instagram.svg" inline class="icon" />
               </a>
            </footer>
         </article>

         <article id="dj-mistress-mccutchan" class="band">
            <h2 class="band__title">DJ Mistress McCutchan</h2>

            <figure class="band__figure">
               {{ img.lazyPic(
                  jpg="/images/djs/mistress-mccutchan.jpg",
                  webp="/images/djs/mistress-mccutchan.webp",
                  alt="DJ Mistress McCutchan",
                  className="band__img"
               ) }}

               <figcaption class="band__caption">
                  Photo by Derek Rush
            </figure>

            <div class="band__bio">
               <p>DJ Mistress McCutchan began DJing in December 1997 in New York City at the legendary club, Mother, with her then DJ-partner, Carlos. From there, she's spun a variety of parties in NYC (Mother, CGBG's, Limelight), Philadelphia, and The Black Sun Festival in New Haven. She had a residency at Contempt from 2005 ’til 2007, when she moved to Toronto. While in Canada, she's gone on a mini-DJ tour with Mark Splatter (deathrock.com), and has been actively spinning dark delights at a dark dance party with her fellow ex-New Yorker, The Wasteland, called Prophecy. Within the past year, she's also DJed in Winnipeg, Boston (at Convergence 25), Brooklyn, London, and Edinburgh. She is also a podcaster, formerly of <a href="https://www.facebook.com/catvsbatpodcast" target="_blank">Cat vs Bat Podcast</a>, and currently of <a href="https://www.facebook.com/itsmidnightsomewherepodcast" target="_blank">It's Midnight Somewhere</a>.</p>

               <p>She hates sleep.</p>
            </div>

            <footer class="band__links">
               <a href="https://www.facebook.com/DJMistressMcCutchan" target="_blank" title="DJ Mistress McCutchan @ Facebook">
                  <img src="/images/icons/facebook.svg" inline class="icon" />
               </a>

               <a href="https://www.instagram.com/mistressmccutchan" target="_blank" title="DJ Mistress McCutchan @ Instagram">
                  <img src="/images/icons/instagram.svg" inline class="icon" />
               </a>

					<a href="https://www.mixcloud.com/mistressmccutchan" target="_blank" title="DJ Mistress McCutchan @ Mixcloud">
                  <img src="/images/icons/mixcloud.svg" inline class="icon" />
               </a>
            </footer>
         </article>
      </div>
   </div>
{% endblock %}
