{% set pageTitle = 'DJs | Convergence 26 - Louisville, KY' %}

{% import '_macros/image.njk' as img %}

{% extends '_layouts/default.njk' %}

{% block main %}
   <div class="container">
      <div class="block">
         <h1 class="title">DJs</h1>

         <p>We’re pleased to announce the DJ lineup for Convergence 26…</p>

         <p>
            The Pirate Twins (Scary Lady Sarah & William Faith), DJ Azy & DJ MAUS (Obscura Undead), DJ Ichabod, DJ Mistress McCutchan, Philly Peroxide, DJ Skeletal, and Radio Arcane’s AndrOspore, Brian Drabant, DJ Kaleidoscope, Osiris Ani, & Sorrow-Vomit.
         </p>

         <p><em>Additional info coming soon...</em></p>

         <a class="btn" href="{{ tickets.eventbrite }}" target="_blank">Tickets Now Available</a>

         <br>

         <article id="pirate-twins" class="band">
            <h2 class="band__title">The Pirate Twins</h2>

            <figure class="band__figure">
               {{ img.picture(
                  jpg="/images/djs/pirate-twins.jpg",
                  webp="/images/djs/pirate-twins.webp",
                  alt="The Pirate Twins",
                  className="band__img"
               ) }}
            </figure>

            <div class="band__bio">
               <p>The Pirate Twins are the DJ team of Scary Lady Sarah and William Faith.</p>

               <p>The duo have spun at events all over North America and Europe, with annual appearances at Wave-Gotik-Treffen in Leipzig, Germany. Sarah—who also spun at C1, C5, C6, the “C7 Rescue,” C8, C9, C10, C12, C19, C20, C21, and C23—has been a professional working club DJ since 1988, and her bi-monthly club night, Nocturna, is now in its 32nd year.</p>

               <p>The Pirate Twins spin a wide variety of music, including, but not limited to—current and classic post-punk, Goth, industrial, punk, glam, deathrock, ethereal, ambient, shoegaze, new wave, EBM, darkwave, dark indie, and more.</p>
            </div>

            <footer class="band__links">
               <a href="https://www.facebook.com/thepiratetwins" target="_blank" title="The Pirate Twins @ Facebook">
                  <img src="/images/icons/facebook-square.svg" inline class="icon" />
               </a>
            </footer>
         </article>

			<article id="obscura-undead" class="band">
            <h2 class="band__title">DJ Azy and DJ Maus (Obscura Undead)</h2>

            <figure class="band__figure">
               {{ img.lazyPic(
                  jpg="/images/djs/obscura-undead.jpg",
                  webp="/images/djs/obscura-undead.webp",
                  alt="DJ Azy and DJ Maus (Obscura Undead)",
                  className="band__img"
               ) }}

               <figcaption class="band__caption">
                  Photo by <a href="https://www.facebook.com/6bellschime" target="_blank">Six Bells Chime Art and Photography</a>
               </figcaption>
            </figure>

            <div class="band__bio">
               <p>Azy and Maus run Obscura Undead, a Florida-based collective of DJs and creators devoted to spreading new Goth, post-punk, darkwave, minimal wave, and deathrock. Maus specializes in synth driven post-punk and wave, while Azy’s focus is guitar-driven Goth and deathrock.</p>
            </div>

            <footer class="band__links">
               <a href="https://www.facebook.com/obscuraundead" target="_blank" title="Obscura Undead @ Facebook">
                  <img src="/images/icons/facebook-square.svg" inline class="icon" />
               </a>

					<a href="https://www.instagram.com/obscuraundead" target="_blank" title="Obscura Undead @ Instagram">
                  <img src="/images/icons/instagram.svg" inline class="icon" />
               </a>

					<a href="https://www.youtube.com/channel/UCYpDKDYdNkpAPtzkjW1_6Ew" target="_blank" title="Obscura Undead @ YouTube">
                  <img src="/images/icons/youtube.svg" inline class="icon" />
               </a>

					<a href="https://www.mixcloud.com/obscuraundead" target="_blank" title="Obscura Undead @ Mixcloud">
                  <img src="/images/icons/mixcloud.svg" inline class="icon" />
               </a>
            </footer>
         </article>

			<article id="dj-ichabod" class="band">
            <h2 class="band__title">DJ Ichabod</h2>

            <figure class="band__figure">
               {{ img.lazyPic(
                  jpg="/images/djs/dj-ichabod.jpg",
                  webp="/images/djs/dj-ichabod.webp",
                  alt="DJ Ichabod",
                  className="band__img"
               ) }}
            </figure>

            <div class="band__bio">
               <p>DJ Ichabod has been an active DJ in the Goth/Industrial scene in Nashville for over twenty years now, starting out as a radio DJ on WRVU in the mid-’90s. During his years there, he created the show, Out ov the Coffin, which ran until the station folded in 2011, at which point it became a monthly podcast that continues to this day. In the late '90s, his radio work led to his first club DJ gig at the Underground in Nashville, and from there, he went on to co-run the events, Communion at the Asylum (Nashville's first-ever Saturday night Goth club) and then +SALVATION+, which ran as Nashville's primary Goth event for over ten years, across multiple venues, branching into concert promotion as well.</p>

					<p>In 2013, he started his own night, Fascination Street at The East Room, a post-punk, deathrock, darkwave, and trad-Goth specialty dance event, which just marked its sixth anniversary. He also serves as assistant director of Dragon Con's Horror Track, where he creates Goth-related programming.</p>
            </div>

            <footer class="band__links">
               <a href="http://outovthecoffin.blogspot.com" target="_blank" title="Out ov the Coffin Website">
                  <img src="/images/icons/home.svg" inline class="icon" />
               </a>

					<a href="https://www.mixcloud.com/outovthecoffin" target="_blank" title="Out ov the Coffin @ Mixcloud">
                  <img src="/images/icons/mixcloud.svg" inline class="icon" />
               </a>

					<a href="https://www.instagram.com/fascination_street_nashville" target="_blank" title="Fascination Street @ Instagram">
                  <img src="/images/icons/instagram.svg" inline class="icon" />
               </a>
            </footer>
         </article>

         <article id="dj-mistress-mccutchan" class="band">
            <h2 class="band__title">DJ Mistress McCutchan</h2>

            <figure class="band__figure">
               {{ img.lazyPic(
                  jpg="/images/djs/mistress-mccutchan.jpg",
                  webp="/images/djs/mistress-mccutchan.webp",
                  alt="DJ Mistress McCutchan",
                  className="band__img"
               ) }}

               <figcaption class="band__caption">
                  Photo by Derek Rush
               </figcaption>
            </figure>

            <div class="band__bio">
               <p>DJ Mistress McCutchan began DJing in December 1997 in New York City at the legendary club, Mother, with her then DJ-partner, Carlos. From there, she's spun a variety of parties in NYC (Mother, CGBG's, Limelight), Philadelphia, and The Black Sun Festival in New Haven. She had a residency at Contempt from 2005 ’til 2007, when she moved to Toronto. While in Canada, she's gone on a mini-DJ tour with Mark Splatter (deathrock.com), and has been actively spinning dark delights at a dark dance party with her fellow ex-New Yorker, The Wasteland, called Prophecy. Within the past year, she's also DJed in Winnipeg, Boston (at Convergence 25), Brooklyn, London, and Edinburgh. She is also a podcaster, formerly of <a href="https://www.facebook.com/catvsbatpodcast" target="_blank">Cat vs Bat Podcast</a>, and currently of <a href="https://www.facebook.com/itsmidnightsomewherepodcast" target="_blank">It's Midnight Somewhere</a>.</p>

               <p>She hates sleep.</p>
            </div>

            <footer class="band__links">
               <a href="https://www.facebook.com/DJMistressMcCutchan" target="_blank" title="DJ Mistress McCutchan @ Facebook">
                  <img src="/images/icons/facebook.svg" inline class="icon" />
               </a>

               <a href="https://www.instagram.com/mistressmccutchan" target="_blank" title="DJ Mistress McCutchan @ Instagram">
                  <img src="/images/icons/instagram.svg" inline class="icon" />
               </a>

					<a href="https://www.mixcloud.com/mistressmccutchan" target="_blank" title="DJ Mistress McCutchan @ Mixcloud">
                  <img src="/images/icons/mixcloud.svg" inline class="icon" />
               </a>
            </footer>
         </article>

         <article id="philly-peroxide" class="band">
            <h2 class="band__title">Philly Peroxide</h2>

            <figure class="band__figure">
               {{ img.lazyPic(
                  jpg="/images/djs/philly-peroxide.jpg",
                  webp="/images/djs/philly-peroxide.webp",
                  alt="Philly Peroxide",
                  className="band__img"
               ) }}
            </figure>

            <div class="band__bio">
               <p>Philly Peroxide is an alternative DJ based out of Chicago, IL. His main event is <a href="https://www.facebook.com/bittersweetchicago" target="_blank">BITTERSWEET</a>, held monthly (ten years and counting), featuring a wide array of dark alternative music and atmospheric visuals.</p>

               <p>He has participated in a variety of music events at alternative clubs, concert venues, and bars in Chicago including Neo, Berlin, Late Bar, Exit, Bottom Lounge, Metro, Double Door, Smart Bar, Reggie's, Debonair Social Club, Green Dolphin, Darkroom, Subterranean, Empty Bottle, Martyr's, The Whistler, Simone's, The Burlington, Underground Lounge, The Hideout, and more.</p>

               <p>He has spun sets of music for various acclaimed alternative artists in concert and during after-parties including Gary Numan, Killing Joke, Echo & the Bunnymen, David J (Bauhaus/Love & Rockets), A Place to Bury Strangers, Drab Majesty, The Soft Moon, Cold Cave, The Brian Jonestown Massacre, Godflesh, and more.</p>

               <p>He collaborates monthly with DJ Scary Lady Sarah for the American Gothic Productions event <a href="https://www.facebook.com/ShimmerChicago" target="_blank">SHIMMER</a>, Chicago's only evening devoted entirely to shoegaze and dreampop music, currently being held every second Tuesday of the month at Slippery Slope.</p>

               <p>He is a live member of The Bellwether Syndicate with William Faith, Sarah Rose, Paul Sin, and Spencer Kiss—performing during their concerts as the keyboardist and percussionist.</p>

               <p>His true passion lies in discovering and sharing new music.</p>
            </div>

            <footer class="band__links">
               <a href="https://www.facebook.com/pg/djphillyperoxide" target="_blank" title="Philly Peroxide @ Facebook">
                  <img src="/images/icons/facebook.svg" inline class="icon" />
               </a>

               <a href="https://www.instagram.com/phillyperoxide" target="_blank" title="Philly Peroxide @ Instagram">
                  <img src="/images/icons/instagram.svg" inline class="icon" />
               </a>

               <a href="https://bandcamp.com/peroxide" target="_blank" title="Philly Peroxide @ Bandcamp">
                  <img src="/images/icons/bandcamp.svg" inline class="icon" />
               </a>

					<a href="https://www.youtube.com/channel/UCc4uJVg4NOINFFi36_glDGA" target="_blank" title="Philly Peroxide @ YouTube">
                  <img src="/images/icons/youtube.svg" inline class="icon" />
               </a>
            </footer>
         </article>


			<article id="dj-skeletal" class="band">
            <h2 class="band__title">DJ Skeletal</h2>

            <figure class="band__figure">
               {{ img.lazyPic(
                  jpg="/images/djs/dj-skeletal.jpg",
                  webp="/images/djs/dj-skeletal.webp",
                  alt="DJ Skeletal",
                  className="band__img"
               ) }}
            </figure>

            <div class="band__bio">
               <p>DJ Skeletal (aka Joel Lovins) began assaulting the St. Louis Gothic/Industrial scene in 2000 with the agenda of helping promote the artists and club events in the region. He has been a regular DJ for such past events as Dark Axis, The Den, Requiem, and currently spins and hosts <a href="https://www.facebook.com/rapturestlouis" target="_blank">RAPTURE</a> on Mondays at <a href="https://www.facebook.com/crackfoxbar" target="_blank">The Crack Fox</a>. He also frequently guests for <a href="https://www.facebook.com/conspiracystl" target="_blank">CONSPIRACY</a> (also at the Crack Fox) and COVEN (St. Charles, MO).</p>

               <p>It’s also worth mentioning that he loves giant fist-launching robots, and really, we can all relate to that.</p>
            </div>

            <footer class="band__links">
               <a href="https://www.facebook.com/djskeletal" target="_blank" title="DJ Skeletal @ Facebook">
                  <img src="/images/icons/facebook.svg" inline class="icon" />
               </a>

               <a href="https://soundcloud.com/skeletal13" target="_blank" title="DJ Skeletal @ Soundcloud">
                  <img src="/images/icons/soundcloud.svg" inline class="icon" />
               </a>

               <a href="https://www.mixcloud.com/rapturestlouis" target="_blank" title="Rapture Radio @ Mixcloud">
                  <img src="/images/icons/mixcloud.svg" inline class="icon" />
               </a>

					<a href="http://rapturestlouis.com" target="_blank" title="Rapture - Dark Music Culture Homepage">
                  <img src="/images/icons/home.svg" inline class="icon" />
               </a>
            </footer>
         </article>

			<article id="androspore" class="band">
            <h2 class="band__title">AndrOspore</h2>

            <figure class="band__figure">
               {{ img.lazyPic(
                  jpg="/images/djs/androspore.jpg",
                  webp="/images/djs/androspore.webp",
                  alt="AndrOspore",
                  className="band__img"
               ) }}
            </figure>


            <div class="band__bio">
               <p>AndrOspore is a DJ, organizer, visual artist, and experimental music project based out of Louisville, Kentucky.</p>

					<p>He has participated as a DJ and/or organizer for a number of various club/dance parties starting in 2006 (under his first DJ name, Sodom, later changing to AndrOspore in 2017) including Paradox, conFuzion, Malfunction, Deafixion, visceral, Pandemonium, Club Cloaca, Hell House, and Björk Ball. He is a member of Radio Arcane, interstice Art Collective, Body Control, and the Convergence 26 committee. (Check out his installation art in the <a href="http://www.art-sanctuary.org" target="_blank">Art Sanctuary</a> gallery during C26!)</p>

					<p>AndrOspore has spun sets at neighboring Goth/industrial clubs, including Salvation (Nashville) and Quorum (Cincinnati), and has played at various concerts and after-parties in Louisville for Assemblage 23, Combichrist, Nite Nite, Mother/Father, Panic Priest, Pastel Ghost, Mr.Kitty, The Kentucky Vampires, and Orchestra Enigmatic (Feat: Carly Johnson). His music project has opened for Idol Mind, For the Masses, Buddy Crime, Curse of Cassandra, and The Kentucky Vampires.</p>

					<p>AndrOspore‘s DJ style is like a colonial organism—any and all genres can surface within a set to create an undulating lifeform. He ebbs and flows between Goth, punk, deathrock, darkwave, synthpop, shoegaze, new wave, industrial, EBM, techno, house, Ítalo, electro, disco, acid, minimal, trip hop, R&B, D&B, and experimental ambient sounds. If it sounds dark, crunchy, and sexy, expect AndrOspore to play it.</p>

					<p>Catch him playing the official Convergence 26 opening party Thursday night with Sorrow-Vomit.</p>
            </div>

            <footer class="band__links">
					<a href="https://www.facebook.com/AndrOspore" target="_blank" title="AndrOspore @ Facebook">
                  <img src="/images/icons/facebook.svg" inline class="icon" />
               </a>

               <a href="https://www.radio-arcane.com" target="_blank" title="Radio Arcane Homepage">
                  <img src="/images/icons/home.svg" inline class="icon" />
               </a>
            </footer>
         </article>

			<article id="brian-drabant" class="band">
            <h2 class="band__title">Brian Drabant</h2>

            <figure class="band__figure">
               {{ img.lazyPic(
                  jpg="/images/djs/brian-drabant.jpg",
                  webp="/images/djs/brian-drabant.webp",
                  alt="Brian Drabant",
                  className="band__img"
               ) }}
            </figure>

            <div class="band__bio">
               <p><a href="https://www.radio-arcane.com" target="_blank">Radio Arcane</a> DJ and co-host of the Radio Arcane podcast, Brian Drabant has performed since the mid-‘90s at various events around the US, as well as a stint in Germany in 1998-1999.</p>

					<p>He co-created the minimal wave/EBM driven “Moderne” night in Cincinnati, along with being a founding member of Radio Arcane. Specializing in EBM, darkwave, minimal wave, and post-punk, he brings a diverse selection of tracks to his sets. He also works with myriad synthesizers and drum machines, creating mutated elements of early EBM and minimal wave.</p>
            </div>

            <footer class="band__links">
					<a href="https://open.spotify.com/show/1agKdqPjtH92Gw33dcLbS1" target="_blank" title="Radio Arcane @ Spotify">
                  <img src="/images/icons/spotify.svg" inline class="icon" />
               </a>

               <a href="https://soundcloud.com/radio_arcane" target="_blank" title="Radio Arcane @ Soundcloud">
                  <img src="/images/icons/soundcloud.svg" inline class="icon" />
               </a>

					<a href="https://www.mixcloud.com/Radio-Arcane" target="_blank" title="Radio Arcane @ Mixcloud">
                  <img src="/images/icons/mixcloud.svg" inline class="icon" />
               </a>

					<a href="https://www.radio-arcane.com" target="_blank" title="Radio Arcane Homepage">
                  <img src="/images/icons/home.svg" inline class="icon" />
               </a>
            </footer>
         </article>


			<article id="dj-kaleidoscope" class="band">
            <h2 class="band__title">DJ Kaleidoscope</h2>

            <figure class="band__figure">
               {{ img.lazyPic(
                  jpg="/images/djs/dj-kaleidoscope.jpg",
                  webp="/images/djs/dj-kaleidoscope.webp",
                  alt="DJ Kaleidoscope",
                  className="band__img"
               ) }}

					<figcaption class="band__caption">
                  Photo by <a href="https://www.facebook.com/ladybird.jenkins.12" target="_blank">April Martin</a>
               </figcaption>
            </figure>


            <div class="band__bio">
               <p>An established salon/business owner, DJ Kaleidoscope has also been dedicated to a lifetime of promoting, DJing, probing, and writing a kaleidoscopic grayscale of alternative, underground, and experimental music. Now a member of <a href="https://www.radio-arcane.com" target="_blank">Radio Arcane</a>, she was one of the first DJs in Louisville to bring the dark, Goth/EBM sounds to local dance clubs, and has helped add to the local playlists of established, alternative clubs/ nights—Discovery, Sparks, City Lights, Tewligans, Main Street Lounge, Red Barn, Headliners Music Hall, Za’s, Fusion, Confusion, Art Sanctuary, Seidenfaden’s and more.</p>

               <p>Further, she DJed at Convergence 13, and has also graced music festivals around the continent, including Dragon Con (Atlanta), Kinetic (Chicago), and Kinetic (Montreal, Canada), as well as guest DJing events such as Das Bunker - Los Angeles, CA; Nashville, TN; Indianapolis, IN; Bloomington, IN; Chicago, IL; Dayton, OH; Cincinnati, OH; Columbus, OH; Atlanta, GA; Portland, OR; Anchorage, AK; Fairbanks, AK; St. Louis, MO; Springfield, MO; Fayetteville, AR; Murfreesboro, TN; and more.</p>

					<p>If she’s not in the DJ booth, you’ll find her happily dancing the night away.</p>
            </div>

            <footer class="band__links">
					<a href="https://www.facebook.com/djkaleidoscopekim" target="_blank" title="DJ Kaleidoscope @ Facebook">
                  <img src="/images/icons/facebook.svg" inline class="icon" />
               </a>

               <a href="https://www.radio-arcane.com" target="_blank" title="Radio Arcane Homepage">
                  <img src="/images/icons/home.svg" inline class="icon" />
               </a>
            </footer>
         </article>

         <article id="osiris-ani" class="band">
            <h2 class="band__title">Osiris Ani</h2>

            <figure class="band__figure">
               {{ img.lazyPic(
                  jpg="/images/djs/osiris-ani.jpg",
                  webp="/images/djs/osiris-ani.webp",
                  alt="Osiris Ani",
                  className="band__img"
               ) }}
            </figure>

            <div class="band__bio">
               <p>Osiris Ani (Tarik Dozier), a long-time denizen of alt.gothic, has been DJing at clubs, parties, and festivals in and around the Midwest for most of the past couple of decades. A founding member of Louisville’s <a href="https://www.radio-arcane.com" target="_blank">Radio Arcane</a>—a collective of dark music specialists, for which he regularly spins at <a href="http://www.art-sanctuary.org" target="_blank">Art Sanctuary</a>—he typically leans toward classic and modern guitar-driven Goth, post-punk, neoclassical darkwave, industrial, and dark trip hop.</p>

               <p>Among other things, he’s also the Convergence 26 committee chair, and is the one who’s been editing and publishing these band and DJ bios, so in theory, he could get away with turning this into a lengthy treatise pontificating on the premise that he’s a magnificent messianic figure, inveighing against the hypocrisies of our times… but nay, he’s far too modest for that sort of shenanigans.</p>

               <p>(You’ve at least got to admit, though, that he’s pretty good at writing about himself in the third person.)</p>

               <p>In his rare idle moments, he dreams of becoming a post-apocalyptic regional warlord.</p>
            </div>

            <footer class="band__links">
               <a href="https://www.radio-arcane.com" target="_blank" title="Radio Arcane Homepage">
                  <img src="/images/icons/home.svg" inline class="icon" />
               </a>
            </footer>
         </article>

         <article id="sorrow-vomit" class="band">
            <h2 class="band__title">Sorrow-Vomit</h2>

            <figure class="band__figure">
               {{ img.lazyPic(
                  jpg="/images/djs/sorrow-vomit.jpg",
                  webp="/images/djs/sorrow-vomit.webp",
                  alt="Sorrow-Vomit",
                  className="band__img"
               ) }}
            </figure>

            <div class="band__bio">
               <p>Convergence 26 DJs— Sorrow-Vomit began professionally spinning in 2004 with residencies at two of Louisville’s weekly Goth/industrial events during that era. By 2007, he took a long break with the exception of sporadic guest slots, returning in 2017 with the foundation of collective Radio Arcane. Sorrow-Vomit’s sets typically focus around current darkwave, post-punk, coldwave, Goth, EBM, and minimal synth.</p>
            </div>

            <footer class="band__links">
               <a href="https://www.mixcloud.com/matt-kokas" target="_blank" title="Sorrow-Vomit @ Mixcloud">
                  <img src="/images/icons/mixcloud.svg" inline class="icon" />
               </a>

               <a href="https://www.radio-arcane.com" target="_blank" title="Radio Arcane Homepage">
                  <img src="/images/icons/home.svg" inline class="icon" />
               </a>
            </footer>
         </article>
      </div>
   </div>
{% endblock %}
