@import "_functions/index";
@import "_mixins/index";

@import "variables";

@import "node_modules/normalize.css/normalize";

@import "fonts";

@import "base/body";
@import "base/typography";
@import "base/media";
@import "base/lists";
@import "base/forms";

@import "layouts/grid";
@import "layouts/masthead";

.main-content {
   position: relative;
   background: linear-gradient(to right, rgba(36,31,31,1) 0%, rgba(36,31,31,1) 32%, rgba(74,71,70,1) 100%);
   padding: 0 0 2rem;
   box-shadow: inset 0 0 150px $black;
   overflow: hidden;

   p,
   blockquote,
   ul,
   img,
   figure,
   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
      position: relative;
      z-index: 2;
   }
}

.block {
   padding: 2em $gutter-width;
   border-bottom: 1px solid hex-to-rgba(lighten($white, 90), .75);

   &:after {
       content: "";
       display: table;
       clear: both;
   }

   @include breakpoint($screen-l-min) {
      padding-left: ($gutter-width * 2);
      padding-right: ($gutter-width * 2);
   }
}


.float-block-right {
   float: right;
   padding: 0 0 1.25rem 1.25rem;
}

.float-block-left {
   float: left;
   padding: 0 1.25rem 1.25rem 0;
}

.text-center {
   text-align: center;
}

#quote {
   blockquote {
      text-align: center;
      font-size: 110%;
      max-width: 1250px;
      margin-left: auto;
      margin-right: auto;

      q {
         font-style: italic;
      }

      footer {
         text-align: right;
      }
   }
}

#louisville {
}

#venue {
   li {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
   }

   p:first-of-type {
      @include breakpoint($screen-l-min) {
         max-width: calc(100% - 600px);
         float: left;
      }

      + p {
         @include breakpoint($screen-l-min) {
            float: left;
         }
      }
   }

   p {

   }
}

#venue-layout {
   @include breakpoint($screen-l-min) {
      float: right;
      padding: 0 0 1.25rem 1.25rem;
      max-width: 600px;
   }
}

#venue-building {
   text-align: center;
   padding: 1.5rem 0;
   clear: both;
}

#louisville,
#travel,
#attractions,
#about {
   background: lighten($black, 15);
}

#venue,
#accommodations,
#food {
   background: lighten($black, 18);
}



#accommodations {
}

#attractions {
}

#food {

}

#about {

}

.background-noise {
   z-index: 1;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   pointer-events: none;
   opacity: .15;
}

.icon {
   fill: currentColor;
   width: 1em;
   height: 1em;
   transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1);
   display: inline-block;
   vertical-align: middle;
   margin-left: 4px;
   margin-right: 4px;
}

.container {
   width: 100%;
   max-width: $max-container-width;
   margin-left: auto;
   margin-right: auto;

   @include breakpoint($screen-l-min) {
      padding-left: $gutter-width;
      padding-right: $gutter-width;
   }
}

.bio {
   margin: 2.5rem auto;
   max-width: 1400px;
   border: 1px solid hex-to-rgba($white-smoke, 0.4);
   border-radius: 8px;
   padding: 1.5rem $gutter-width;
   background: hex-to-rgba($white-smoke, 0.05);

   &:after {
       content: "";
       display: table;
       clear: both;
   }

   &__title {
      @include breakpoint($screen-m-min) {
         float: left;
         width: calc(100% - 300px);
      }

      @include breakpoint($screen-l-min) {
         width: calc(100% - 400px);
      }

      @include breakpoint($screen-xl-min) {
         width: calc(100% - 500px);
      }
   }

   &__content {
      @include breakpoint($screen-m-min) {
         float: left;
         width: calc(100% - 300px);
      }

      @include breakpoint($screen-l-min) {
         width: calc(100% - 400px);
      }

      @include breakpoint($screen-xl-min) {
         width: calc(100% - 500px);
      }
   }

   &__img {
      text-align: center;
      border-radius: 10px;

      img {
         max-height: 300px;
         border: 1px solid hex-to-rgba($white-smoke, 0.75);

         @include breakpoint($screen-l-min) {
            max-height: none;
         }
      }

      @include breakpoint($screen-m-min) {
         float: right;
         width: 300px;
         padding-left: $gutter-width ;
         text-align: right;
      }

      @include breakpoint($screen-l-min) {
         padding-left: $gutter-width * 2;
         width: 400px;
      }

      @include breakpoint($screen-xl-min) {
         width: 500px;
      }
   }
}

.title {
   border-bottom: 1px solid hex-to-rgba($white-smoke, 0.7);
}

.attractions-container {
   display: flex;
   flex-wrap: wrap;
   align-items: stretch;
   align-content: flex-start;
   justify-content: flex-start;

   @include breakpoint($screen-l-min) {
      flex-wrap: nowrap;
   }
}


.attractions--1 {
   margin-bottom: 0;
   width: 100%;

   @include breakpoint($screen-m-min) {
      width: 45%;
   }

   @include breakpoint($screen-l-min) {
      width: 33.3333%;
   }
}

.attractions--2 {
   margin-bottom: 0;
   width: 100%;

   @include breakpoint($screen-m-min) {
      width: 45%;
   }

   @include breakpoint($screen-l-min) {
      width: 33.3333%;
   }
}

.attractions--3 {
   width: 100%;

   @include breakpoint($screen-m-min) {
      li {
         float: left;
         width: 50%;
      }
   }

   @include breakpoint($screen-l-min) {
      width: 33.3333%;

      li {
         float: none;
         width: 100%;
      }
   }
}
