{% set pageTitle = 'News | Convergence 26 - Louisville, KY' %}

{% extends '_layouts/default.njk' %}

{% block main %}
   <div class="container block">
      <h1 class="title">News & Annoucements</h1>

      <div class="pb-2">
         <article class="card card--news">
           <div class="card__body">
              <h5 class="card__title">Single-day Tickets</h5>
              <time class="card__date" datetime="2020-02-18">Feb. 18, 2020</time>

              <div class="card__text">
                 <p>Single-day tickets have now been released, in addition to the “Convergence VIP” package (full weekend badge + C26 logo lapel pin). <a href="{{ tickets.eventbrite }}" target="_blank">Purchase Here</a><p>
              </div>
           </div>
         </article>

         <article class="card card--news">
           <div class="card__body">
              <h5 class="card__title">We’re pleased to announce the DJ lineup</h5>
              <time class="card__date" datetime="2020-02-18">Feb. 18, 2020</time>

              <div class="card__text">
                 <p>The Pirate Twins (Scary Lady Sarah & William Faith), DJ Azy & DJ MAUS (Obscura Undead), DJ Ichabod, DJ Mistress McCutchan, Philly Peroxide, DJ Skeletal, and Radio Arcane’s AndrOspore, Brian Drabant, DJ Kaleidoscope, Osiris Ani, & Sorrow-Vomit.<p>
              </div>
           </div>
         </article>

      <article class="card card--news">
        <div class="card__body">
           <h5 class="card__title">Tickets Now Available</h5>
           <time class="card__date" datetime="2020-02-01">Feb. 1, 2020</time>

           <div class="card__text">
              <p>Tickets are now available through <a href="{{ tickets.eventbrite }}" target="_blank">Eventbrite</a> and the newly added <a href="{{ social.facebookEvent }}" target="_blank">Facebook Event Page</a>.<p>
           </div>
        </div>
      </article>

      <article class="card card--news">
        <div class="card__body">
           <h5 class="card__title">Convergence 26 Lineup Announcement: God Module</h5>
           <time class="card__date" datetime="2020-01-27">Jan. 27, 2020</time>

           <div class="card__text">
              <p><a href="/bands/#god-module">God Module</a> is the dark electronic musical project of Jasyn Bangert. As underground musical trends have come and gone over the years, God Module have stayed at the forefront of the dark electronic scene… <a href="/bands/#god-module">Read More</a>
           </div>
        </div>
      </article>

      <article class="card card--news">
        <div class="card__body">
           <h5 class="card__title">Convergence 26 Lineup Announcement: S Y Z Y G Y X</h5>
           <time class="card__date" datetime="2020-01-26">Jan. 26, 2020</time>

           <div class="card__text">
              <p><a href="/bands/#syzygyx">S Y Z Y G Y X</a> • Luna Blanc and Josh Clark have always had a passion for art/creating. Josh has an extensive background in electronic music and audio engineering; formerly known as DJ Impulse… <a href="/bands/#syzygyx">Read More</a>
           </div>
        </div>
      </article>

      <article class="card card--news">
        <div class="card__body">
           <h5 class="card__title">Convergence 26 Lineup Announcement: Xorcist</h5>
           <time class="card__date" datetime="2020-01-25">Jan. 25, 2020</time>

           <div class="card__text">
              <p><a href="/bands/#xorcist">Peter Stone</a> started writing electronic music in 1985 when he acquired a rare PPG Wave 2.3, EVU, and Waveterm. By 1991, the solo project Xorcist was born, along with a widely-received release, Damned Souls on 21st Circuitry Records… <a href="/bands/#xorcist">Read More</a></p>
           </div>
        </div>
     </article>


      <article class="card card--news">
        <div class="card__body">
           <h5 class="card__title">Convergence 26 Lineup Announcement: The Kentucky Vampires</h5>
           <time class="card__date" datetime="2020-01-24">Jan. 24, 2020</time>

           <div class="card__text">
              <p><a href="/bands/#the-kentucky-vampires">The Kentucky Vampires</a>, a dynamic and unapologetically Gothic Rock band, has their roots in the city of Louisville, Kentucky, and have quickly become well known in Goth circles throughout the world… <a href="/bands/#the-kentucky-vampires">Read More</a></p>
           </div>
        </div>
     </article>

		<article class="card card--news">
			<div class="card__body">
				<h5 class="card__title">Convergence 26 Lineup Announcement: Sonsombre</h5>
				<time class="card__date" datetime="2020-01-24">Jan. 24, 2020</time>

				<div class="card__text">
					<p>With a modern sensibility, <a href="/bands/#sonsombre">Sonsombre</a> stand on the shoulders of beloved bands like The Wake, Suspiria, and Nosferatu, while playing a dark and energetic guitar driven Gothic Rock style… <a href="/bands/#sonsombre">Read More</a</p>
				</div>
			</div>
		</article>

      <article class="card card--news">
         <div class="card__body">
            <h5 class="card__title">Convergence 26 Lineup Announcement: WINGTIPS</h5>
            <time class="card__date" datetime="2020-01-23">Jan. 23, 2020</time>

            <div class="card__text">
               <p>2019 was indeed a banner year for goth-pop duo <a href="/bands/#wingtips">WINGTIPS</a>, who released their debut record, Exposure Therapy, on Toronto-based Artoffact Records. The duo comprises Chicago-goth mainstays Vincent and Hannah, producing unforgettable music that has already captured the attention of media and festival taste-makers alike… <a href="/bands/#wingtips">Read More</a</p>
            </div>
         </div>
      </article>

      <article class="card card--news">
         <div class="card__body">
            <h5 class="card__title">Convergence 26 Lineup Announcement: Vyva Melinkolya</h5>
            <time class="card__date" datetime="2020-01-22">Jan. 22, 2020</time>

            <div class="card__text">
               <p>Founded in Louisville, KY by Alyc Diaz as a solo project in 2014, <a href="/bands/#vyva-melinkolya">Vyva Melinkolya</a> is trans-fronted, aggressively ethereal music—slow, moody shoegaze and dream pop with swirling melodies and drum machines… <a href="/bands/#vyva-melinkolya">Read More</a></p>
            </div>
         </div>
      </article>

      <article class="card card--news">
         <div class="card__body">
            <h5 class="card__title">Convergence 26 Lineup Announcement: The Rope</h5>
            <time class="card__date" datetime="2020-01-22">Jan. 22, 2020</time>

            <div class="card__text">
               <p><a href="/bands/#the-rope">The Rope</a> formed in Minneapolis, Minnesota in 2009, and released their eponymous debut EP in 2011… <a href="/bands/#the-rope">Read More</a></p>
            </div>
         </div>
      </article>

      <article class="card card--news">
         <div class="card__body">
            <h5 class="card__title">Convergence 26 Lineup Announcement: Scary Black</h5>
            <time class="card__date" datetime="2020-01-21">Jan. 21, 2020</time>

            <div class="card__text">
               <p>
                  Formed in 2012, Hailing from Louisville, Kentucky, <a href="/bands/#scary-black">Scary Black</a> is the solo project of multi-instrumentalist / singer / songwriter Albie Mason… <a href="/bands/#scary-black">Read More</a>
               </p>
            </div>
         </div>
      </article>

      <article class="card card--news">
         <div class="card__body">
            <h5 class="card__title">Convergence 26 Lineup Announcement: The Bellwether Syndicate</h5>
            <time class="card__date" datetime="2020-01-21">Jan. 21, 2020</time>

            <div class="card__text">
               <p>
                  Formed in 2012, <a href="/bands/#bellwether-syndicate">The Bellwether Syndicate</a> is fronted by veteran artist William Faith (vocals/guitars), and Sarah Rose Faith (vocals/guitars)… <a href="/bands/#bellwether-syndicate">Read More</a>
               </p>
            </div>
         </div>
      </article>

      <article class="card card--news">
         <div class="card__body">
            <h5 class="card__title">The Convergence 26 band announcements doth commence</h5>
            <time class="card__date" datetime="2020-01-20">Jan. 20, 2020</time>

            <div class="card__text">
               <p>We are quite gratified to begin the announcements of the band lineup for Convergence 26. Our first reveal: <a href="/bands/#twin-tribes">Twin Tribes</a>!</p>
            </div>
         </div>
      </article>

      <article class="card card--news">
         <div class="card__body">
            <h5 class="card__title">Submissions for Bands and DJs Closed</h5>
            <time class="card__date" datetime="2019-11-10">Nov. 10, 2019</time>

            <div class="card__text">
               <p>We’ve been almost overwhelmed by the sheer volume of great bands and DJs who’ve formally expressed their interest in performing at next year’s Convergence, and now it’s time to announce that we are no longer accepting submissions.</p>
            </div>
         </div>
      </article>

      <article class="card card--news">
         <div class="card__body">
            <h5 class="card__title">Cat vs Bat Podcast</h5>
            <time class="card__date" datetime="2019-10-30">Oct. 30, 2019</time>

            <div class="card__text">
               <p>Committee members Tarik Dozier, Lisa Frye, and Edwin Alberto have made an appearance on the <a href="https://www.facebook.com/catvsbatpodcast" target="_blank">Cat vs Bat Podcast</a>, on which they discuss the delights of Louisville, Radio Arcane, and what we have in store for C26 with DJ Mistress McCutchan. <a href="https://catvsbat.podbean.com/e/episode-40-the-louisville-scene-convergence-26" target="_blank">Give it a listen</a>.</p>
            </div>
         </div>
      </article>

      <article class="card card--news">
         <div class="card__body">
            <h5 class="card__title">Official Hotel Annoucement</h5>
            <time class="card__date" datetime="2019-09-15">Sept. 15, 2019</time>

            <div class="card__text">
               <p>We’re pleased to announce the official hotel for 2020—the gorgeous, spacious, well-appointed, river-adjacent <a href="https://www.facebook.com/TheGaltHouseHotel" target="_blank">Galt House Hotel</a>. For details and booking information, visit our <a href="/hotel">Hotel page</a>.</p>
            </div>
         </div>
      </article>

      <br>
   </div>
{% endblock %}
