{% set pageTitle = 'Tickets | Convergence 26 - Louisville, KY' %}

{% import '_macros/image.njk' as img %}

{% extends '_layouts/default.njk' %}

{% block main %}
   <article class="container">
      <div class="block">
         <h1 class="title">Tickets</h1>

         <h3>Convergence 26 Postponed</h3>

         <p>As the current global pandemic has progressed to this current stage, it has become abundantly clear that the current planned dates for Convergence 26 are simply untenable. Convergence 26 is being postponed until we have a better idea of when social distancing will no longer be the most prudent societal standard, and when we can once again safely and comfortably welcome our national and international guests to our fair city.</p>

         <p>Ticket holders will be refunded soon, and the reservations for those who’ve booked within our hotel block will be automatically cancelled.</p>

         <p>Please stay safe out there, take care of yourselves and each other, and stay tuned for future updates.</p>
      </div>
   </article>
{% endblock %}
