{% set pageTitle = 'Tickets | Convergence 26 - Louisville, KY' %}

{% import '_macros/image.njk' as img %}

{% extends '_layouts/default.njk' %}

{% block main %}
   <article class="container">
      <div class="block">
         <h1 class="title">Tickets</h1>

         <h5 class="pb-1">Tickets now available through <a href="{{ tickets.eventbrite }}" target="_blank">Eventbrite</a>.</h5>

         <p>Single-day tickets have now been released, in addition to the “Convergence VIP” package (full weekend badge + C26 logo lapel pin).</p>

         <a class="btn" href="{{ tickets.eventbrite }}" target="_blank">Purchase Here</a>

         <div class="ticket-opts">
            <div class="ticket-opts__row">
               <div class="ticket-opts__info">
                  <h6 class="ticket-opts__title">
                     Convergence VIP
                  </h6>

                  <div class="ticket-opts__desc">
                     <em>The Convergence VIP ticket package is comprised of entry to all events (including Thursday night’s pre-party), badge, and a C26 logo lapel pin.</em>
                  </div>
               </div>
               <div class="ticket-opts__price">
                  <sup>$</sup>75.00
               </div>
            </div>
            <div class="ticket-opts__row">
               <div class="ticket-opts__info">
                  <h6 class="ticket-opts__title">
                     Thursday, May 14 (Pre-Party)
                  </h6>

                  <div class="ticket-opts__desc">
                     DJs - AndrOspore & Sorrow-Vomit
                  </div>
               </div>
               <div class="ticket-opts__price">
                  <sup>$</sup>10.00
               </div>
            </div>
            <div class="ticket-opts__row">
               <div class="ticket-opts__info">
                  <h6 class="ticket-opts__title">
                     Friday, May 15
                  </h6>

                  <div class="ticket-opts__desc">
                     DJs - Azy & Maus (Obscura Undead), Ichabod, Skeletal<br>
                     The Kentucky Vampires, Xorcist, The Rope, WINGTIPS
                  </div>
               </div>
               <div class="ticket-opts__price">
                  <sup>$</sup>35.00
               </div>
            </div>
            <div class="ticket-opts__row">
               <div class="ticket-opts__info">
                  <h6 class="ticket-opts__title">
                     Saturday, May 16
                  </h6>

                  <div class="ticket-opts__desc">
                     DJs - The Pirate Twins (Scary Lady Sarah & William Faith), Mistress McCutchan, Philly Peroxide<br>
                     Scary Black, S Y Z Y G Y X, Sonsombre, Twin Tribes
                  </div>
               </div>
               <div class="ticket-opts__price">
                  <sup>$</sup>35.00
               </div>
            </div>
            <div class="ticket-opts__row">
               <div class="ticket-opts__info">
                  <h6 class="ticket-opts__title">
                     Sunday, May 17
                  </h6>

                  <div class="ticket-opts__desc">
                     DJs - Kaleidoscope, Osiris Ani, Brian Drabant<br>
                     Vyva Melinkolya, God Module, The Bellwether Syndicate
                  </div>
               </div>
               <div class="ticket-opts__price">
                  <sup>$</sup>35.00
               </div>
            </div>
         </div>

         <br>

         <div class="pb-2">
            <a href="{{ tickets.eventbrite }}" target="_blank">
               {{ img.picture(
                  jpg="/images/convergence26-lineup.jpg",
                  webp="/images/convergence26-lineup.webp",
                  alt="Convergence 26 Louisville Lineup"
               ) }}
            </a>
         </div>
      </div>
   </article>
{% endblock %}
