{% set pageTitle = 'Vendor Registration | Convergence 26 - Louisville, KY' %}

{% extends '_layouts/default.njk' %}

{% block main %}
   <div class="block">
      <section class="container">
         <h1 class="title">Vendor Registration</h1>

         <p>Interested in being a vendor at Convergence 26? Please fill out the form below.</p>


         <p>
            Vendor set up and arrival begins at 4PM throughout the Convergence 26 weekend. The Vendor market opens at 6PM and closes at 11PM throughout Convergence 26 weekend. Please plan accordingly for arrival and breakdown.
         </p>

         <p><a href="/docs/c26-vendor-agreement.pdf" target="_blank">Convergence 26 Vendor Agreement</a></p>


         <form id="vendor-form" name="vendor" method="POST" data-netlify="true">
            <noscript>
               <p><strong>Sorry, but JavaScript is required to properly submit this form</strong></p>
            </noscript>

            <input type="hidden" name="form-name" value="vendor" readonly />
            <input type="hidden" name="subject" value="Convergence 26 Vendor Form Submission" readonly />

            <fieldset>
               <div class="grid grid--collapse">
                  <div class="grid__item xs-12">
                     <label for="organization">
                        <span class="required-label">Business Name:</span>
                        <input type="text" id="organization" name="organization" maxlength="100" aria-label="Business Name" required>
                     </label>
                  </div>
                  <div class="grid__item xs-12 md-6">
                     <label for="name">
                        <span class="required-label">Full Name:</span>
                        <input type="text" id="name" name="name" maxlength="100" aria-label="Full Name" required>
                     </label>
                  </div>
                  <div class="grid__item xs-12 md-6">
                     <label for="email">
                        <span class="required-label">Email:</span>
                        <input type="email" id="email" name="email" maxlength="100" aria-label="Email Address" required>
                     </label>
                  </div>
                  <div class="grid__item xs-12 md-6">
                     <label for="phone">
                        <span class="required-label">Phone Number:</span>
                        <input type="tel" id="phone" name="phone" maxlength="30" aria-label="Phone Number" required>
                     </label>
                  </div>
                  <div class="grid__item xs-12 md-6">
                     <label for="location">
                        <span class="required-label">City, State:</span>
                        <input type="text" id="location" name="location" maxlength="200" aria-label="City, State" required>
                     </label>
                  </div>
                  <div class="grid__item xs-12">
                     <label for="websites">
                        <span>Websites:</span>
                        <textarea id="websites" name="websites" aria-label="Websites"></textarea>
                     </label>

                     <label for="description">
                        <span class="required-label">Please describe your product in detail:</span>
                        <textarea id="description" name="description" aria-label="Description" required></textarea>
                     </label>
                  </div>
                  <div class="grid__item xs-12">
                     <label>
                        <span class="required-label">Please select the days you plan on vending:</span>
                     </label>

                     <div>
                        <label>
                           <input type="checkbox" name="dates[]" value="May 15"> May 15th
                        </label>
                     </div>
                     <div>
                        <label>
                           <input type="checkbox" name="dates[]" value="May 16"> May 16th
                        </label>
                     </div>
                     <div>
                        <label>
                           <input type="checkbox" name="dates[]" value="May 17"> May 17th
                        </label>
                     </div>
                     <br>
                  </div>
                  <div class="grid__item xs-12">
                     <label>
                        <span class="required-label">Will your table need access to an electrical outlet?</span>
                     </label>
                     <div>
                        <label>
                           <input type="radio" name="need_electrical_outlet" value="Yes" required> Yes
                        </label>
                     </div>
                     <div>
                        <label>
                           <input type="radio" name="need_electrical_outlet" value="No" required> No
                        </label>
                     </div>

                     <br>
                  </div>
                  <div class="grid__item xs-12">
                     <label for="setup">
                        <span class="required-label">Please describe your set up. Include fixtures, estimated space you will need, lighting, etc:</span>
                        <textarea id="setup" name="setup" required></textarea>
                     </label>

                     <br>

                     <label for="will_have_assistance_from_others">
                        <span class="required-label">Will you have assistance from others during the event at your vendor table? Please include first and last name with a phone number below.</span>
                        <p><small>This information is required for security and ticketing purposes at C26. If no additional helpers are joining you, just type "No" in the space below.</small></p>

                        <textarea id="will_have_assistance_from_others" name="will_have_assistance_from_others" required></textarea>
                     </label>
                     <br>
                  </div>
                  <div class="grid__item xs-12">
                     <p>Thank you for filling out the C26 vendor form! Our vendor coordinator will review it and be in touch with you as soon as possible. All communication will be sent to the email address you provided on this form. Please verify that it is correct. The vendor agreement can also be found on our C26 website! If you have any questions or concerns, please include them in the space provided below! Thank you!</p>
                  </div>
                  <div class="grid__item xs-12 text-center">
                     <button type="submit" class="btn">
                        Submit Form
                     </button>
                  </div>
               </div>
            </fieldset>
         </form>
      </section>
   </div>
{% endblock %}
