{% set pageTitle = 'Vendor Registration | Convergence 26 - Louisville, KY' %}

{% extends '_layouts/default.njk' %}

{% block main %}
   <div class="block">
      <section class="container">
         <h1 class="title">Vendor Registration</h1>

         <p>Interested in being a vendor at Convergence 26? Please <a href="https://docs.google.com/forms/d/e/1FAIpQLSeZLR4elwcKpazr4rtRe3Zenu0D97GR2ejOOKyGya_MKUStxg/viewform" target="_blank">Apply Here</a>.</p>

         <p><a href="/docs/c26-vendor-agreement.pdf" target="_blank">Convergence 26 Vendor Agreement</a></p>
      </section>
   </div>
{% endblock %}
