{% set pageTitle = 'Vendor Registration | Convergence 26 - Louisville, KY' %}

{% extends '_layouts/default.njk' %}

{% block main %}
   <div class="block">
      <section class="container">
         <h1 class="title">Vendor Registration</h1>

         <p>Convergence 26 Postponed...</p>
      </section>
   </div>
{% endblock %}
