{% set pageTitle = 'Bands | Convergence 26 - Louisville, KY' %}

{% import '_macros/image.njk' as img %}

{% extends '_layouts/default.njk' %}


{% block main %}
   <div class="container">
      <div class="block">
         <h1 class="title">Bands</h1>
         
         <p>We are quite gratified to begin the annoucements of the band lineup for Convergence 26.</p>

         <p><em>Expect more announcements in the coming days...</em></p>
			
			<article id="bellwether-syndicate" class="band">
            <h2 class="band__title">The Bellwether Syndicate</h2>

            <figure class="band__figure">
               {{ img.picture(
                  jpg="/images/bands/the-bellwether-syndicate.jpg",
                  webp="/images/bands/the-bellwether-syndicate.webp",
                  alt="The Bellwether Syndicate",
                  className="band__img"
               ) }}
            </figure>

            <div class="band__bio">
               <p>Formed in 2012, <strong>The Bellwether Syndicate</strong> is fronted by veteran artist <strong>William Faith</strong> (vocals/guitars), and <strong>Sarah Rose Faith</strong> (vocals/guitars). While the studio recordings are made by William and Sarah alone, the live lineup includes <strong>Paul Sin</strong> (bass), <strong>Philly Peroxide</strong> (keyboards/percussion) and <strong>Stevyn Grey</strong> (drums). The band have always sought to color outside of prescribed genre lines, endeavoring to push past the boundaries of style into something substantial and vital.</p>
					
					<p><strong>The Bellwether Syndicate</strong> present a powerful and commanding live performance, where the sound and substance of the recorded work truly comes to life; where the art is made whole by the audience.</p>
            </div>

            <footer class="band__links">
					<a href="http://www.thebellwethersyndicate.com" target="_blank" title="The Bellwether Syndicate Official Site">
						<img src="/images/icons/home.svg" inline class="icon" />
					</a>
	
               <a href="https://www.facebook.com/thebellwethersyndicate" target="_blank" title="The Bellwether Syndicate @ Facebook">
                  <img src="/images/icons/facebook-square.svg" inline class="icon" />
               </a>

               <a href="https://www.instagram.com/thebellwethersyndicate" target="_blank" title="The Bellwether Syndicate @ Instagram">
                  <img src="/images/icons/instagram.svg" inline class="icon" />
               </a>

               <a href="https://www.youtube.com/user/BellwetherSyndicate" target="_blank" title="The Bellwether Syndicate @ YouTube">
                  <img src="/images/icons/youtube.svg" inline class="icon" />
               </a>

               <a href="https://thebellwethersyndicate.bandcamp.com" target="_blank" title="The Bellwether Syndicate @ Bandcamp">
                  <img src="/images/icons/bandcamp.svg" inline class="icon" />
               </a>

               <a href="https://open.spotify.com/artist/3B9I7zOlLeuj02Pft3B2nN" target="_blank" title="The Bellwether Syndicate @ Spotify">
                  <img src="/images/icons/spotify.svg" inline class="icon" />
               </a>
					
					<a href="https://itunes.apple.com/us/artist/598396813" target="_blank" title="The Bellwether Syndicate @ Apple Music">
                  <img src="/images/icons/apple.svg" inline class="icon" />
               </a>	
            </footer>
         </article>

         <article id="twin-tribes" class="band">
            <h2 class="band__title">Twin Tribes</h2>

            <figure class="band__figure">
               {{ img.picture(
                  jpg="/images/bands/twin-tribes.jpg",
                  webp="/images/bands/twin-tribes.webp",
                  alt="Twin Tribes",
                  className="band__img"
               ) }}
            </figure>

            <div class="band__bio">
               <p>Twin Tribes is a dark synth / post-punk duo based in Brownsville, Texas. Formed by Luis Navarro (vocals, guitar, synth, drum machines) and Joel Niño, Jr. (bass, synth, vocals) in 2017, the band gathers their influences from the period of the dark ‘80s. Darkwave, post-punk, and coldwave are genres that the band summon using analog synthesizers and drum machines; dark melodic sounds, lyrics of the undead, the occult, and parallel universes are what conjure Twin Tribes.</p>
            </div>

            <footer class="band__links">
               <a href="https://www.facebook.com/TwinTribes" target="_blank" title="Twin Tribes @ Facebook">
                  <img src="/images/icons/facebook-square.svg" inline class="icon" />
               </a>

               <a href="https://www.instagram.com/twin_tribes" target="_blank" title="Twin Tribes @ Instagram">
                  <img src="/images/icons/instagram.svg" inline class="icon" />
               </a>

               <a href="https://www.youtube.com/twintribes" target="_blank" title="Twin Tribes @ YouTube">
                  <img src="/images/icons/youtube.svg" inline class="icon" />
               </a>

               <a href="https://twintribes.bandcamp.com" target="_blank" title="Twin Tribes @ Bandcamp">
                  <img src="/images/icons/bandcamp.svg" inline class="icon" />
               </a>

               <a href="https://open.spotify.com/artist/7wxXs62y8Gjf6c6pxrnWIl" target="_blank" title="Twin Tribes @ Spotify">
                  <img src="/images/icons/spotify.svg" inline class="icon" />
               </a>
					
					<a href="https://music.apple.com/us/artist/1414679340" target="_blank" title="Twin Tribes @ Apple Music">
                  <img src="/images/icons/apple.svg" inline class="icon" />
               </a>

            </footer>
         </article>
      </div>
   </div>
{% endblock %}
